
/*imagen de fondo de jumbotron*/
.background-init {
  background-image: url("../assets/images/stage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right;
  height: 85vh;
}

.opacity {
opacity: 0.4;
    filter: alpha(opacity=40);
}

.letter-white {
  color:#ffff;
  outline-color: 1px solid black;
}

.btn-line {
  background-color: #98cbbc;
  border-color: black;
  color:black;
}

.logo {
  width: 50vh;
  margin-top: 30vh;
  margin-left: 1vh;
}


.btn-down {
  margin-top: 10vh;
  margin-left: 0vh;
}

.btn-down2 {
  margin-top: 10vh;
  margin-left: 5vh;
}

.btn-down1 {
  margin-bottom: 1vh;
  margin-left: 2vh;
}

.letter-writte {
  font-family: 'Special Elite', cursive;
  font-size: 5vh;
}


.footer-color {
  background-color:#8c1226;
}

.nav-color {
  background-color:#8c1226 ;
}
