
/*imagen de fondo de jumbotron*/
.my-4 {
  background-image: url("../assets/images/stage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right;
  height: 70vh;
}

.opacity {
opacity: 0.4;
    filter: alpha(opacity=40);
}

.letter-white {
  color:#ffff;
  outline-color: 1px solid black;
}

.btn-line {
  background-color: transparent;
  border-color: white;
}

.logo {
  width: 45vh;
}


.btn-down {
  margin-top: 20vh;
  margin-left: 0vh;
}

.btn-down2 {
  margin-top: 10vh;
  margin-left: 5vh;
}

.letter-writte {
  font-family: 'Special Elite', cursive;
  font-size: 5vh;
}


.footer-color {
  background-color: #448597;
}
