
/*imagen de fondo de jumbotron*/
.background-image {
  background-image: url("../assets/images/acuarela.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right;
  height: 70vh;
}

.img-thumbnail {
  width: 30vh;
  border-radius: 100%;
  margin-left: 5vh;
}

.btn-line {
  background-color: transparent;
  border-color: black;
  color: black;
}

.letter-white {
  color:#ffff;

}
.blue-background {
background-color: #B6CED3;
}

.logo {
  width: 30vh;
}

.letter-logo {
  font-family: 'Fjalla One', sans-serif;
  font-size: 5vh;
  text-align: center;
}

.letter-sans {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3vh;
}

.letter-writte {
font-family: 'Supermercado One', cursive;
}

.footer-color {
  background-color:#8c1226;
}

.blue-background {
  background-color: #112e68;
}
