
/*imagen de fondo de jumbotron*/
.my-4 {
  background-image: url("../assets/images/stage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right;
  height: 70vh;
}

.letter-white {
  color:#ffff;
  outline-color: 1px solid black;
}

.btn-line {
  background-color: transparent;
  border-color: white;
}

.logo {
  width: 45vh;
}

.footer-init {
  height: 1vh;
}

.btn-down {
  margin-top: 20vh;
  margin-left: 0vh;
}

.btn-down2 {
  margin-top: 10vh;
  margin-left: 5vh;
}
